.background-fill{
  position: absolute;
  top:0;
  width: 100%;
  height:100vh;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.80) 0%, 
    rgba(0, 0, 0, 0) 100%
  );
}

#follow-us{
  width: 300px;
  height: 60px;
  margin-left: -10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);

}

#follow-us h5{
  padding-right: 20px;
}

#follow-us svg{
  padding-right: 20px;
}

#hero-section-heading{
  width: 600px;
  height: 300px;
  margin-left: -100px;
}

#hero-section-heading-part-one{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#hero-section-heading-part-one h5{
  margin-left: 20px;
  color: #F4D03F;
}
#part-one-hl{
  height: 1px;
  width: 100px;
  background-color:#F4D03F;
}

#hero-section-heading-part-two{
  margin-top: -70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

#hero-section-heading-part-two h1{
  font-weight: 500;
  font-family: serif;
  margin-bottom: -40px;
  font-size: 60px;
  color: white;
}

#scroll-down-button{
  background-color: transparent;
  border: none;
  color: white;
  float: left;
  padding: 0px;
  margin-top: 70px;
  font-size: 16px;
  font-weight: 600;
}


#scroll-bar{
  width: 0px;
  height: 200px;
  margin-right: 100px;
  background-color: greenyellow;
}